[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
websockets = "*"
broadcaster = {version = "==0.2.0", extras = ["redis"]}

[dev-packages]

[requires]
python_version = "3.8"
